body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* スペースを最大限利用 */
    height: 100vh; /* ビューポートの高さに合わせる */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 48px; 
    background-color: lightgray; 
    color: dimgray; 
    text-align: center;
}

.content {
    flex: 1;
    overflow: auto; /* 必要に応じてスクロールバーを表示 */
}

.bottom-container {
    position:fixed;
    bottom: 0; /* 画面の最下部に固定 */
    left: 0;
    right: 0;
    background-color: lightgray; /* 背景色を設定 */
}


.input-container {
    background-color: gray; /* 白色の背景 */
    padding: 20px;
    margin: 20px auto;
    width: 100%;
}

input#quantity {
    width: 80%; /* 入力フィールドの幅 */
    padding: 24px;
    font-size: 64px; /* 大きなフォントサイズ */
    text-align: center;
    border: none;
    border-radius: 5px; /* 角の丸み */
    box-sizing: border-box; /* ボックスサイズを設定 */
}

input#quantity:focus {
    outline: 2px solid gray; /* 太さを2pxに設定 */
}

button {
    width: 80%; 
    padding: 16px;
    font-size: 42px;
    background-color: black; /* Gray背景 */
    color: white; /* 白色のテキスト */
    border: none;
    border-radius: 32px;
    margin-top: 10px;
    margin-bottom: 48px; /* ボタンの下に20pxの隙間を追加 */
}

#results {
    background-color: white; /* 白色の背景 */
    padding: 20px;
    border-radius: 5px; /* 角の丸み */
    box-sizing: border-box; /* ボックスサイズを設定 */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* シャドウを追加 */
    margin: 30px auto;
    width: 80%;
}

#results p {
    font-size: 48px; /* 結果のフォントサイズ */
    margin: 8px 0; /* 間隔 */
}

h2 {
    font-size: 42px; /* h2ヘッダのフォントサイズを指定 */
    color: gray;
    margin: 0.5em 0;
}

